.articles
{
	margin-left: 0px;
}

#article-editor li, li.article
{
	list-style: none;
	clear: both;
}

li.article h1
{
	margin-bottom: 1em;
}

li.article h6
{
	float: right;
	margin-bottom: 3em;
}

#comment-form li
{
	list-style: none;
}

#id_honeypot
{
	display: none;
}

div.pagination
{
	clear: both;
}

p.right
{
	float: right;
}

p.left
{
	float: left;
}

p.page_number
{
	margin: 0 43%;
}
