{% extends "base.html" %}

{% block title %}Mention LLC{% endblock title %}
{% block site-name %}Mention LLC{% endblock site-name %}

{% block meta %}
	<meta name="robots" content="all"> 
	<meta name="description" content="{% block meta_description %}Mention LLC is an international consulting agency and software developer that specializes in interfaces and game mechanics.{% endblock meta_description %}" />
	<link rel="alternate" type="application/rss+xml" title="Latest News" href="http://mentionllc.com/news/rss/v1/latest/" />
	<link rel="shortcut icon" href="/media/images/favicon.ico" />

	{{ block.super }}
{% endblock meta %}

{% block styles %}
	{{ block.super }}

	{% for theme in theme_list %}
		<link rel="stylesheet{% if theme != current_theme %} alternate{% endif %}" type="text/css" href="{{ MEDIA_URL }}{{ theme.styles_url }}/common.css">
	{% endfor %}
{% endblock styles %}

{% block scripts %}
	{{ block.super }}

	<script
		data-main="{{ MEDIA_URL }}scripts/bootstrap.js"
		src="{{ MEDIA_URL }}scripts/require-jquery.js">
	</script>
{% endblock scripts %}

{% block header %}
	{{ block.super }}

	<div id="contact-data">
		<ul>
			<li>3208 1/2 NW 65th Street</li>
			<li>Seattle, WA 98117</li>
			<li><strong>T</strong> <a href="tel://1-206-866-5661">1.206.866.5661</a></li>
			<li><strong>E</strong> <a href="mailto:contact@mentionllc.com">contact@mentionllc.com</a></li>
		</ul>
	</div>
{% endblock header %}

